<html>
        <head>



        </head>

        <body> 
            <form method="post" action="/api/v1/user/signup">
                <input type="text" placeholder="FIrst Name" id="FIRST_NAME" name="FIRST_NAME" />
                <input type="text" placeholder="Last Name" id="LAST_NAME" name="LAST_NAME" />
                 
   
                <input placeholder="email" type="email"  id="email"  name="email"></input >
    
                <input type="password" placeholder="password" id="password" name="password">   </input>
                <input type="text" placeholder="Address" id="address" name="address" />
                <input placeholder="Enter phone" type="tel" id="PHONE_NUMBER" name="PHONE_NUMBER" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"   />
    <input type="submit"/>

            </form>
        </body>

</html>