<html>
        <head>



        </head>

        <body> 
            <form method="post" action="/api/v1/user/signup">
                <input type="text" placeholder="FIrst Name" id="fname" name="fname" />
                <input type="text" placeholder="Last Name" id="lname" name="lname" />
                 
   
                <input placeholder="email" type="email"  id="email"  name="email"></input >
    
                <input type="password" placeholder="password" id="password" name="password">   </input>
                <input type="text" placeholder="Address" id="address" name="address" />
                <input type="tel" id="contact" name="contact" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"   />
    <input type="submit"/>

            </form>
        </body>

</html>